--PASO 1 CREAR BASE DE DATOS
CREATE DATABASE VulnerableApp
GO

--paso 2 USAR BASE DE DATOS
USE [VulnerableApp]
GO

--paso 3 CREAR BASE DE DATOS
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2024 16:03:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--paso 4 INSERTAR REGISTRO
INSERT INTO Users(Username, Password)values('admin','1234')